.navigation-container {
    position: fixed;
    width: 100%;
    z-index: 10;

    a {
        color: $gray-dark;

        &:hover {
            color: $green;
        }
    }

    .logo-container {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        cursor: pointer;
        z-index: 10;

        .circle {
            width: 20px;
            height: 20px;
            background-color: $green;
            border-radius: 50%;
            position: relative;

            &:before {
                content: '';
                width: 8px;
                background-color: $red;
                height: 100%;
                position: absolute;
                left: 0;
            }
        }

        .logo {
            width: 80px;
            padding-left: 17px;
        }
    }

    .nav-bar {
        min-height: $navbar-height;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
    }

    .bar-container {
        width: 20px;
        height: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        z-index: 3;
        padding: 20px;

        .menu-bar {
            width: 100%;
            height: 1px;
            background-color: $gray-dark;
            display: block;
            transition: background-color 0.3s;
            transform-origin: 18% 0;
            transition: 0.3s transform;
        }
    }
}


.menu-icon {
    width: $navbar-height;
    height: $navbar-height;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;

    .menu-bg {
        position: absolute;
        top: 0;
        right: 0;
        background-color: #fff;
        width: 100%;
        height: 100%;
    }

    &:hover {
        .menu-bar {
            background-color: $red;
            transition: all 0.3s;
        }
    }

    &.open {
        .bar-1 { transform: rotate(45deg); }
        .bar-2 { transform: rotate(-45deg); }
    }
}

.navigation {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 2;
    display: flex;
    justify-content: center;

    &.open {
        pointer-events: auto;
    }

    ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @media screen and (max-width: $bp-s) {
            padding-bottom: 100px;
        }
    }

  .nav-item {
    display: block;
    overflow: hidden;
    cursor: pointer;

    &-large {
        font-size: 90px;
        text-transform: uppercase;
        font-family: $font-extra-light;

        @media screen and (max-width: $bp-s) {
            font-size: 50px;
            margin-bottom: 20px;
        }
    }

    &-small {
        font-size: 17px;
        margin-top: 20px;

        &:hover {
            color: $green;
        }

        @media screen and (max-width: $bp-s) {
        font-size: 14px;
        }
    }

    &.link-blue {
        .nav-item-wrapper:before {
            background-color: $blue;
        }

        .nav-item-wrapper:hover {
            color: $blue;
        }
    }

        &-wrapper {
            display: block;
            transform: translateY(100%);
            opacity: 0;
            position: relative;
            transition: color .4s;

            &:before {
                content: "";
                display: block;
                position: absolute;
                width: 100%;
                height: 2px;
                top: 50%;
                background-color: $green;
                transform: translate(-100%, -50%);
            }

            &:hover {
                color: $green;
                transition: color .4s;
                transition-delay: .1s;

                &:before {
                    transform: translate(100%, -50%);
                    transition: transform .35s cubic-bezier(.86, 0, .07, 1);
                }
            }
        }
    }
}

.social-list {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;

    @media screen and (max-width: $bp-s) {
        bottom: 100px;
    }

    .icon {
        opacity: 0;
        transform: translateY(20px);
        padding: 10px;
        margin: 0 10px;
        width: 28px;
        height: 29px;
    }

    .icon a {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            path {
                fill: $gray-darkest;
                transition: fill .3s;
            }
        }
    }

    .icon svg {
        width: 80%;

        path {
            fill: $gray-dark;
            transition: fill .3s;
        }
    }
}