html, body {
  font-family: Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  color: $gray-dark;
  background-color: $gray-light;
  background-color: #e8e8e8;

  &.disable-scrolling {
    overflow: hidden;
  }
}

::-moz-selection {
  color: white;
  background: black;
}

::selection {
  color: white;
  background: black;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
}

h1, h2 {
  font-family: $font-light;
  font-size: 74px;
  font-weight: lighter;
  margin: 0;
}

p {
  font-size: 21px;
  line-height: 2;
  color: $gray-dark;

  &.paragraph-smaller {
    font-size: 18px;
    line-height: 1.5;
    margin: 10px 0 40px;
  }

  a {
    font-family: serif;
    font-style: italic;
    text-decoration: underline;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: $gray-dark;
}

.edition {
  font-family: 'editionregular';
}

.basic-content-container {
  margin: 100px auto 200px;
  padding: 0 60px;
  max-width: 1400px;
  width: 100%;
  box-sizing: border-box;
}

.hero-container {
  h1 .letter {
    display: inline-block;
    transform: translateY(100%);
    opacity: 0;
  }
}

// dat gui
.dg.ac {
  z-index: 11 !important;
  left: 50% !important;
  right: auto !important;
  display: none !important;
}