$font_path: '~@/assets/fonts/';

@import url('https://fonts.googleapis.com/css?family=Abel');

@font-face {
  font-family: 'editionregular';
  src: url($font_path + 'edition-webfont.woff') format('woff'),
       url($font_path + 'edition-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mesmerize-ul';
  src: url($font_path + 'mesmerize-ul.otf') format('opentype');
}

@font-face {
  font-family: 'Mesmerize-ul-it';
  src: url($font_path + 'mesmerize-ul-it.otf') format('opentype');
  font-style: italic;
}

@font-face {
  font-family: 'Mesmerize-lt';
  src: url($font_path + 'mesmerize-lt.otf') format('opentype');
}

/* Font Variables */
$ff-ul: 'Mesmerize-ul';
$ff-light: 'Mesmerize-lt';