/* Color Scheme */
$pink: #F19D94;
$green: #4FB99F;

/* Gray Color Scheme */
// $gray-light: #f6f6f6;
$gray-light: #e8e8e8;
$gray-medium: #ccc;
$gray-dark: #666;
$gray-darkest: #222;

/* Breakpoints */
// breakpoints should be used with max-width's (non-mobile first)
$bp-xs: 480px;
$bp-s: 767px;
$bp-m: 1024px;
$bp-l: 1200px;
$bp-xl: 1400px;

/* Sizing */
$navbar-height: 60px;
$imageW: 960px;
$imageH: 400px;
