.home-container {
    overflow: hidden;

    .sliding-text {
        position: absolute;
        top: 110px;
        left: 0;
        width: auto;
        white-space: nowrap;
        // transform: translateX(-580px);
        left: -580px;
        pointer-events: none;
        font-size: 270px;
        font-family: 'editionregular';
        color: #fff;

        @media screen and (max-width: $bp-s) {
            opacity: 1;
            top: 100px;
            transform: translateX(20px);
            font-size: 130px;
        }

        span {
            opacity: .5;

            &.main {
                opacity: 1;
            }
        }
    }

    .hero-container {
        min-height: 100vh;
        width: 100vw;
        max-width: 1400px;
        margin: 0 auto 180px;
        padding: 400px 60px 90px;
        position: relative;
        box-sizing: border-box;

        @media screen and (max-width: $bp-s) {
            padding: 225px 20px 0 20px;
            min-height: none;
            margin-bottom: 0;
        }
    }

    .hero-copy-container {
        margin: 20px 0 30vh;
        opacity: 1;
        transform: translate3d(0,0,0);

        @media screen and (max-width: $bp-s) {
            margin-bottom: 14vh;
        }
    }

    .hero-text {
        font-size: 25px;
        color: $gray-dark;
        font-family: $font-extra-light;
        padding: 0 0 14px;
        margin: 0;
        line-height: 1;

        @media screen and (max-width: $bp-s) {
            font-size: 20px;
            padding: 0 0 12px;
            color: $gray-darkest;
        }
    }

    .btn-indicator {
        margin-top: 10px;
    }

    .logo-abstract {
        max-width: 130px;
        margin-bottom: 100px;
        opacity: 1;
        transform: translate3d(0,0,0);
    }

    .posts-text {
        opacity: 1;
        transform: translate3d(0,0,0);
    }

    .posts-text p {
        font-size: 30px;
        color: $gray-dark;
        font-family: $font-light;
        padding: 0 0 40px;
        margin: 0;
        line-height: 1;

        @media screen and (max-width: $bp-s) {
            font-size: 22px;
            padding: 0 0 30px;
            color: $gray-darkest;
        }
    }

    .g-line {
        height: 2px;
        width: 100%;
        background: linear-gradient(to right, #14c2ff  0%, #2addae 50%, #ff4545 100%);

        @media screen and (max-width: $bp-s) {
            width: calc(100% + 60px);
        }
    }

    .scroll-image {
        position: absolute;
        right: 0;
        top: 100px;
        width: 50%;
    }
}