html, body {
    font-family: Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
    color: $gray-dark;
    background-color: $gray-light;
    background-color: #e8e8e8;
    pointer-events: auto;

    &.disable-scrolling {
        overflow: hidden;
    }

    &.opening-project {
        pointer-events: none;
    }
}

::-moz-selection {
    color: white;
    background: black;
}

::selection {
    color: white;
    background: black;
}

#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
}

h1, h2, h3 {
    font-family: $font-light;
    font-size: 74px;
    font-weight: lighter;
    margin: 0;
}

p {
    font-size: 21px;
    line-height: 2;
    color: $gray-dark;

    &.paragraph-smaller {
        font-size: 18px;
        line-height: 1.5;
        margin: 10px 0 40px;
    }

    a {
        color: $gray-darkest;
        font-size: .9em;
        font-style: italic;
        text-decoration: underline;
        position: relative;
        transition: .3s color ease-in-out;

        &:before {
            content: '';
            position: absolute;
            bottom: -2px;
            left: 0;
            width: 100%;
            height: 1px;
            transform: scaleX(0);
            transition: .4s transform cubic-bezier(0.165, 0.84, 0.44, 1);
            background-color: $gray-darkest;
            z-index: -1;
        }

        &:hover {
            &:before {
                transform: scaleX(1);
                transition: .3s transform cubic-bezier(0.165, 0.84, 0.44, 1);
            }
        }
    }
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: $gray-dark;
}

.basic-page-container {
    margin: 100px auto 200px;
    padding: 0 60px;
    max-width: 1400px;
    width: 100%;
    box-sizing: border-box;

    @media screen and (max-width: $bp-s) {
        padding: 0 20px;
    }
}

.project-container {
    width: 100%;
    height: 100%;
    padding: 0 5% 100px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 45% 45%;
    justify-content: space-between;

    @media screen and (max-width: $bp-m) {
        display: block;
    }
}

.title {
    max-width: 80%;
    text-transform: uppercase;

    @media screen and (max-width: $bp-s) {
        max-width: 100%;
    }
}

.visually-hidden {
    display: none;
}

.btn-box {
    padding: 11px 13px;
    color: $gray-dark;
    font-family: $font-medium;
    text-transform: uppercase;
    font-family: $font-medium;
    letter-spacing: 3.5px;
    font-size: 11px;
    display: inline-block;

    @media screen and (max-width: $bp-s) {
        font-size: 10px;
    }

    &.btn-indicator {
        border: 1px solid #fff;
        color: #fff;
    }

    &.btn-link {
        background-color: #fff;
        position: relative;
        transition: .5s color;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transform: scaleX(0);
            transition: .4s transform cubic-bezier(0.165, 0.84, 0.44, 1);
            background: #000;
            z-index: -1;
        }

        &:hover {
            color: #fff;
            transition: .5s color;

            &:before {
                transform: scaleX(1);
                transition: .4s transform cubic-bezier(0.165, 0.84, 0.44, 1);
            }
        }
    }
}

.btn-round {
    color: $gray-dark;
    font-family: $font-medium;
    text-transform: uppercase;
    font-family: $font-medium;
    letter-spacing: 3.5px;
    font-size: 11px;
    display: inline-block;
    background: $btn-round-gray;
    border-radius: 20px;
    padding: 12px 14px 10px 16px;
    margin: 0 15px 15px 0;
}

// dat gui
.dg.ac {
    z-index: 11 !important;
    left: 50% !important;
    right: auto !important;
    display: none !important;
}